<% if @login_allowed == true %>

  <%= form_for @post, url: {action: @action} do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>
    <%= f.label :content %>
    <%= text_area_tag(:content, @post.content, size: "200x30") %>

    <fieldset>
      <legend>Categories</legend>

      <% @categories.each do |cat| %>
      <label><input type="radio" name="category" value="<%= cat.id %>"><%= cat.name %></label>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Tags</legend>

        <% @tags.each do |tag| %>
        <label><input type="checkbox" name="tags[]" value="<%= tag.id %>"><%= tag.name %></label>
        <% end %>

    </fieldset>
    <%= f.submit 'submit' %>
    <% end %>

<% else %>
  <h3>
  You are not Lauren. Go away.
  </h3>
<% end %>
