<% if @login_allowed == true %>

  <%= form_for @post, url: {action: @action} do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>
    <%= f.label :content %>
    <%= text_area_tag(:content, @post.content, size: "200x30") %>

    <fieldset>
      <legend>Categories</legend>

      <% @categories.each do |cat| %>
        <% if @post.category_id == cat.id %>
          <%= radio_button_tag(:category_id, "#{cat.id}", :checked)%>
          <%= label_tag(:category_id, "#{cat.name}") %>
        <% else %>
          <%= radio_button_tag(:category_id, "#{cat.id}")%>
          <%= label_tag(:category_id, "#{cat.name}") %>
        <% end %>
      <% end %>

    </fieldset>

    <fieldset>
      <legend>Tags</legend>
      <% tag_ids = @post.tags.map {|n| n.id} %>
        <% @tags.each do |tag| %>
        <%# binding.pry %>
          <% if tag_ids.include?(tag.id) %>
            <%= check_box_tag "tags[]", "#{tag.id}", :checked %>
            <%= label_tag "tags[]", "#{tag.name}" %>
          <% else %>
            <%= check_box_tag "tags[]", "#{tag.id}" %>
            <%= label_tag "tags[]", "#{tag.name}" %>
          <% end %>
        <% end %>


    </fieldset>
    <%= f.submit 'submit' %>
    <% end %>

<% else %>
  <h3>
  You are not Lauren. Go away.
  </h3>
<% end %>
