<%# Navigation links to: %>
  <%# home/ %>
  <%# home/resume %>
  <%# category GET  ||  /categories/:id(.:format)  ||  categories#show %>
<%# Links to login page => new_gdangers GET  ||  //gdangers/new(.:format)  ||  /gdangers#new %>

<!DOCTYPE html>
<html>

<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application' %>
  <link href="laurengranger.ico" rel="shortcut icon" type="image/png">
</head>

<header>
  <h1><%= @title %></h1>
  <nav>
    <a href="/">home</a>
    <%= link_to "code", category_path(1) %>
    <%= link_to "social justice", category_path(2) %>
    <%= link_to "outside", category_path(3) %>
    <%= link_to "food", category_path(4) %>
    <%= link_to "projects", category_path(5) %>
    <%= link_to "other", category_path(6) %>

  </nav>
</header>

<body class="main">
  <%= yield %>
</body>

<footer>
  <%= "Lauren Granger" %> <a href="/gdangers/new">|</a> <%= "copyright #{Time.now.year}" %>
</footer>

</html>
